.row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.list-group-item {
    background-color: transparent;
}

footer p {
   color: #ccc;
}

footer a {
    color: #ccc;
}

.list-inline {
    color: #fff;
}
