body {
  position: relative;
}
body header .header {
  position: relative;
  position: fixed;
  z-index: 1030;
  left: 0;
  right: 0;
}
body header .container-fluid {
  background: #261f44;
  color: #fff;
}
body header .container-fluid .navbar .container a {
  color: #fff;
  margin: 0px 3px;
}
body header .container-fluid .navbar .container div .collapse .navbar-collapse .button a .nav-link .active {
  background-color: #ff5938;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}
body .content .container {
  position: relative;
}
body .content .container .background-first {
  text-align: center;
  display: flex;
  background: url(../images/s1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px;
  justify-content: center;
}
body .content .container .background-first .row {
  position: relative;
  display: block;
}
body .content .container .background-first .row .head-text {
  display: flex;
  position: relative;
  color: #fff;
  flex-direction: column;
  align-items: center;
}
body .content .container .background-first .row .head-text .h1 {
  position: relative;
  font-size: 64px;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}
body .content .container .background-first .row .head-text .head- {
  position: relative;
  text-align: center;
  width: 50%;
}
body .content .container .background-first .row .head-text .head- p {
  position: relative;
  font-size: 20px;
}
body .content .container .background-first .row .head-text .link {
  position: relative;
}
body .content .container .background-first .row .head-text .link a {
  background-color: #ff5938;
  border-color: #ff5938;
}
body .content .container {
  position: relative;
}
body .content .container .befor-coach {
  position: relative;
  padding-top: 120px;
  color: #6f6985;
}
body .content .container .befor-coach .heading {
  position: relative;
}
body .content .container .befor-coach .heading .row {
  position: relative;
  display: block;
}
body .content .container .befor-coach .heading .row .text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}
body .content .container .befor-coach .heading .row .text h2 {
  position: relative;
  font-size: 42px;
  text-align: center;
  color: #261f44;
}
body .content .container .befor-coach .heading .row .text .p {
  position: relative;
  display: flex;
  justify-content: center;
}
body .content .container .befor-coach .heading .row .text .p p {
  width: 54%;
  text-align: center;
  font-size: 20px;
}
body .content .container .befor-coach .photo-text {
  position: relative;
}
body .content .container .befor-coach .photo-text .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
}
body .content .container .befor-coach .photo-text .row .img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .container .befor-coach .photo-text .row .img-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .container .befor-coach .photo-text .row .text {
  position: relative;
  grid-column-end: 6;
  grid-column-start: 4;
}
body .content .container .befor-coach .photo-text .row .text p {
  position: relative;
  color: #6f6985;
}
body .content .container .befor-coach .photo-text .row .img-3 {
  position: relative;
}
body .content .container .befor-coach .photo-text .row .img-4 {
  position: relative;
}
body .content .container .formm {
  padding: 40px 0 120px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
body .content .container .formm .row .text h2 {
  font-size: 42px;
  position: relative;
  width: 63%;
  text-align: center;
  margin-left: 18%;
}
body .content .container .formm .row .text .p {
  position: relative;
}
body .content .container .formm .row .text .p p {
  position: relative;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .container .formm .row .offset-lg-2 {
  position: relative;
  display: flex;
}
body .content .container .formm .row .offset-lg-2 form {
  position: relative;
}
body .content .container .formm .row .offset-lg-2 form .button {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5938;
  border-color: #ff5938;
  color: #fff;
}
body .content .container-fluid {
  background: #ff5938;
  color: #fff;
  padding: 70px 120px;
}
body .content .container-fluid .more {
  position: relative;
}
body .content .container-fluid .more .content {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 30px;
}
body .content .container-fluid .more .content .heading {
  position: relative;
  width: 40%;
}
body .content .container-fluid .more .content .heading h2 {
  position: relative;
  font-size: 56px;
  width: 410px;
  margin-top: 60px;
  margin-left: 10%;
}
body .content .container-fluid .more .content .heading .p {
  position: relative;
}
body .content .container-fluid .more .content .heading .p p {
  font-size: 20px;
  width: 504px;
  margin-left: 10%;
}
body .content .container-fluid .more .content .pphoto {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .content .container-fluid .more .content .pphoto a {
  color: #fff;
  border-color: #fff;
  text-align: center;
  position: relative;
}
body .content .container-fluid .more .content .pphoto a .aa {
  cursor: pointer;
  position: absolute;
  color: #fff;
  border-color: #fff;
  border-radius: 0.5rem;
  font-size: 1.07rem;
  padding: 0.63rem 1.56rem;
  border: 1px solid;
}
body .content .container {
  position: relative;
}
body .content .container .master {
  padding: 120px 0px 240px;
}
body .content .container .master .headd {
  position: relative;
}
body .content .container .master .headd .row {
  display: flex;
  flex-direction: column;
}
body .content .container .master .headd .row .m-text {
  position: relative;
}
body .content .container .master .headd .row .m-text h2 {
  width: 41%;
  text-align: center;
  font-size: 42px;
  color: #261f44;
  margin-left: 30%;
}
body .content .container .master .headd .row .m-text .p {
  position: relative;
  font-size: 24px;
  width: 62%;
  text-align: center;
  margin-left: 20%;
  color: #6f6985;
}
body .content .container .master .content {
  position: relative;
}
body .content .container .master .content .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}
body .content .container .master .content .row .ccard {
  position: relative;
}
body .content .container .master .content .row .cardd .card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -60%);
  width: 91%;
  border-radius: 6px;
}
body .content .container .master .content .row .cardd .card-body h3 a {
  color: #383838;
}
body .content .container .master .content .row .cardd .card-body a {
  border-bottom: 2px solid #ff5938;
  color: #ff5938;
}
body .content .container .master .content .row .card_block {
  position: relative;
  width: 100%;
}
body .content .container .master .content .row .card_block .card .card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -60%);
  width: 91%;
  border-radius: 6px;
}
body .content .container .master .content .row .card_block .card .card-body h3 a {
  color: #383838;
}
body .content .container .master .content .row .card_block .card .card-body a {
  border-bottom: 2px solid #ff5938;
  color: #ff5938;
}
body .content .container .master .content .row .card_block {
  position: relative;
  width: 100%;
}
body .content .container .master .content .row .card_block .card .ccard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -60%);
  width: 91%;
  border-radius: 6px;
  background-color: white;
  padding: 24px;
}
body .content .container .master .content .row .card_block .card .ccard h3 a {
  color: #383838;
}
body .content .container .master .content .row .card_block .card .ccard a {
  border-bottom: 2px solid #ff5938;
  color: #ff5938;
}
body .content .container-fluid {
  position: relative;
}
body .content .container-fluid .photo-all {
  position: relative;
}
body .content .container-fluid .photo-all .row {
  display: block;
}
body .content .container-fluid .photo-all .row .all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  grid-column-gap: 1px;
}
body .content .container-fluid .photo-all .row .all .all-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .container-fluid .photo-all .row .all .all-1 img {
  grid-column-start: 1;
  grid-column-end: 2;
}
body .content .container-fluid .photo-all .row .all .all-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 235px;
}
body .content .container-fluid .photo-all .row .all .all-2 img {
  position: relative;
  transform: translate(0%, -14%);
}
body .content .container-fluid .photo-all .row .all .all-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  height: 235px;
}
body .content .container-fluid .photo-all .row .all .all-3 img {
  transform: translate(0%, -14%);
}
body .content .container-fluid .photo-all .row .all .all-4 {
  grid-column-start: 2;
  grid-column-end: 3;
}
body .content .container-fluid .photo-all .row .all .all-6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .container {
  height: 50px;
}
body .content .container .contact {
  position: relative;
}
body .content .container .contact .row {
  text-align: center;
  border-radius: 5px;
  display: flex;
  background: white;
  transform: translate(38%, -79%);
  justify-content: center;
  width: 40em;
  padding: 34px 0px;
}
body .content .container .contact .row .pos {
  position: relative;
}
body .content .container .contact .row .pos .text {
  position: relative;
}
body .content .container .contact .row .pos .text h2 {
  padding: 20px;
}
body .content .container .contact .row .pos .text .p {
  position: relative;
}
body .content .container .contact .row .pos .text .p p {
  margin-bottom: 28px;
}
body .content .container .contact .row .pos form .form input {
  width: 100%;
  margin-bottom: 15px;
}
body .content .container .contact .row .pos form .form2 input {
  margin-bottom: 15px;
}
body .content .container .contact .row .pos form .select select {
  width: 100%;
  margin-bottom: 15px;
}
body .content .container .contact .row .pos form .d-grid button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5938;
  border-color: #ff5938;
  color: #fff;
  width: 100%;
}
body .content .container {
  display: flex;
  justify-content: center;
}
body .content .container .company {
  display: flex;
  margin-top: 120px;
}
body .content .container .company .pos {
  position: relative;
}
body .content .container .company .pos .row {
  position: relative;
}
body .content .container .company .pos .row h3 {
  margin-left: 19em;
  font-size: 20px;
  margin-bottom: 100px;
}
body .content .container .company .pos .row {
  position: relative;
}
body .content .container .company .pos .row .-row {
  position: relative;
}
body .content .container .company .pos .row .-row .-pos {
  position: relative;
}
body .content .container .company .pos .row .-row .-pos img {
  width: 110px;
  height: 35px;
  margin: 24px 41px;
}
body footer {
  position: relative;
}
body footer .footer {
  background: #261f44;
  color: #6f6985;
  padding-bottom: 40px;
  margin-top: 120px;
}
body footer .footer a {
  color: #6f6985;
}
body footer .footer a:hover {
  color: #d5d4d9;
}
body footer .footer .container {
  padding: 120px 0 0 0;
}
body footer .footer .container .row {
  padding-bottom: 20px;
}
body footer .footer .container .row .pos {
  width: 190px;
  height: 225px;
}
body footer .footer .container .row .pos h4 {
  color: #fff;
}
body footer .footer .container .row .pos ul {
  display: flex;
  list-style-type: none;
  padding: 5px;
  flex-direction: row;
}
body footer .footer .container .row .pos ul li {
  list-style-type: none;
  padding: 5px;
}
body footer .footer .container .row .poss {
  height: 225px;
  width: 400px;
}
body footer .footer .container .row .poss h4 {
  color: #fff;
}
body footer .footer .container .row .poss .text {
  position: relative;
}
body footer .footer .container .row .poss .text p {
  color: #6f6985;
}
body footer .footer .container .row .poss .text form .form {
  position: relative;
}
body footer .footer .container .row .poss .text form .form input {
  margin-bottom: 15px;
}
body footer .footer .container .row .poss .text form button {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5938;
  border-color: #ff5938;
  color: #fff;
}
body footer .footer .container .row .inc {
  position: relative;
}
body footer .footer .container .row .inc .ul {
  display: flex;
  list-style-type: none;
  padding: 5px;
  flex-direction: row;
}
body footer .footer .container .row .inc .ul li {
  list-style-type: none;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */