
body {
  position: relative;
}
body .header {
  position: relative;
  position: fixed;
  z-index: 1030;
  left: 0;
  right: 0;

}
body .header .container-fluid{
  background: #261f44;color: #fff;
}
body .header a{
  color: #fff;
  margin: 0px 3px;
}
.body .header .right {
}
body .content {
  position: relative;
}
.background-first {
background: url(../images/s1.jpg); background-size: cover;background-repeat: no-repeat;background-position: center;padding: 200px;  
}
body .content .background-first .container {
  position: relative;
}
body .content .background-first .container .row {
  position: relative;
  display: block;
}
body .content .background-first .container .row .head-text {
  display: flex;
  position: relative;
  color: #fff;
  flex-direction: column;
  align-items: center;
}
body .content .background-first .container .row .head-text .head-1 {
  position: relative;
}
body .content .background-first .container .row .head-text .head-1 h1 {
  position: relative;
  font-size: 64px;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}
body .content .background-first .container .row .head-text .head-2 {
  position: relative;
  text-align: center;
  width: 50%;
}
body .content .background-first .container .row .head-text .head-2 p {
  position: relative;
  font-size: 20px;
}
body .content .background-first .container .row .head-text .head-link {
  position: relative;
}
body .content .background-first .container .row .head-text .head-link a {
  position: relative;
  background-color: #ff5938;
  border-color: #ff5938;
}
body .content .befor-coach {
  position: relative;
  padding-top: 120px;
  color: #6f6985;
}
body .content .befor-coach .container {
  position: relative;
}
body .content .befor-coach .container .heading {
  position: relative;
}
body .content .befor-coach .container .heading .row {
  position: relative;
  display: block;
}
body .content .befor-coach .container .heading .row .position-heading-text {
  position: relative;
}
body .content .befor-coach .container .heading .row .position-heading-text .desc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}
body .content .befor-coach .container .heading .row .position-heading-text .desc .h2-b {
  position: relative;
}
body .content .befor-coach .container .heading .row .position-heading-text .desc .h2-b h2 {
  position: relative;
  font-size: 42px;
  text-align: center;
  color: #261f44;
}
body .content .befor-coach .container .heading .row .position-heading-text .desc .p-b {
  position: relative;
  display: flex;
  justify-content: center;
}
body .content .befor-coach .container .heading .row .position-heading-text .desc .p-b p {
  width: 54%;
  text-align: center;
  font-size: 20px;
}
body .content .befor-coach .container .photo {
  position: relative;
}
body .content .befor-coach .container .photo .row {
  position: relative;
  display: block;
}
body .content .befor-coach .container .photo .row .position-photo-text {
  position: relative;
}
body .content .befor-coach .container .photo .row .position-photo-text .row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-img-1 {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-img-1 img {
  position: relative;
  /* height: 400px; */
  /* width: 234px; */
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-img-2 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-img-2 img {
  position: relative;
  /* width: 480px; */
  /* height: 400px; */
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-text {
  position: relative;
  grid-column-end: 6;
  grid-column-start: 4;
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-text p {
  position: relative;
  color: #6f6985;
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-img-3 {
  position: relative;
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-img-3 img {
  position: relative;
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-img-4 {
  position: relative;
}
body .content .befor-coach .container .photo .row .position-photo-text .row .photo-img-4 img {
  position: relative;
}
body .content .formm {
  position: relative;
  padding: 40px 0 120px;
}
body .content .formm {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
body .content .formm .row .formm-position-text {
  position: relative;
}
body .content .formm .row .formm-position-text .formm-desc {
  position: relative;
}
body .content .formm .row .formm-position-text .formm-desc .h2-formm {
  position: relative;
}
body .content .formm .row .formm-position-text .formm-desc .h2-formm h2 {
  font-size: 42px;
  position: relative;
  width: 63%;
  text-align: center;
  margin-left: 18%;
}
body .content .formm .row .formm-position-text .formm-desc .p-formm {
  position: relative;
}
body .content .formm .row .formm-position-text .formm-desc .p-formm p {
  position: relative;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .formm .row .formm-position {
  position: relative;
  display: flex;
}
body .content .more {
  position: relative;
}
body .content .more .container-fluid {
  position: relative;
  background: #ff5938;
  color: #fff;
  padding: 70px 120px;
  
}
body .content .more .container-fluid .container-fluid {
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 30px;
}
body .content .more .container-fluid .container-fluid .more-content .more-heading {
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-heading .more-text {
  position: relative;
  width: 40%;
}
body .content .more .container-fluid .container-fluid .more-content .more-heading .more-text .h2-more {
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-heading .more-text .h2-more h2 {
  position: relative;
  font-size: 56px;
  width: 410px;
  margin-top: 60px;
  margin-left: 10%;
}
body .content .more .container-fluid .container-fluid .more-content .more-heading .more-text .p-more {
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-heading .more-text .p-more P {
  position: relative;
  font-size: 20px;
  width: 504px;
  margin-left: 10%;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo {
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo:hover .pphoto .aa {
color: #000;
background: #fff;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .pphoto {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .caption {
  color: #fff;
  border-color: #fff;
  text-align: center;
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .caption a {
  border-color: #fff;
  background-color: #fff;
  text-align: center;
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .pphoto .aa {
  cursor: pointer;
  position: absolute;
  color: #fff;
  border-color: #fff;
  border-radius: 0.5rem;
  font-size: 1.07rem;
  padding: 0.63rem 1.56rem;
  border: 1px solid;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo {
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .caption {
  color: #fff;
  border-color: #fff;
  text-align: center;
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .caption a:hover {
  border-color: #fff;
  background-color: #fff;
  text-align: center;
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .pphoto img {
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo {
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .caption {
  color: #fff;
  border-color: #fff;
  text-align: center;
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .caption a:hover {
  border-color: #fff;
  background-color: #fff;
  text-align: center;
  position: relative;
}
body .content .more .container-fluid .container-fluid .more-content .more-photo .pphoto img {
  position: relative;
  width: 640px!important;
}
body .content .Master_Every {
  position: relative;
  padding: 120px 0px 240px;
}
body .content .Master_Every .container {
  position: relative;
}
body .content .Master_Every .container .m-head {
  position: relative;
}
body .content .Master_Every .container .m-head .row {
  position: relative;
  display: flex;
  flex-direction: column;
}
body .content .Master_Every .container .m-head .row .m-pos-text {
  position: relative;
}
body .content .Master_Every .container .m-head .row .m-pos-text .m-text {
  position: relative;
}
body .content .Master_Every .container .m-head .row .m-pos-text .m-text .h2-m {
  position: relative;
}
body .content .Master_Every .container .m-head .row .m-pos-text .m-text .h2-m h2 {
  position: relative;
  width: 41%;
  text-align: center;
  font-size: 42px;
  color: #261f44;
  margin-left: 30%;
}
body .content .Master_Every .container .m-head .row .m-pos-text .m-text .p-m {
  position: relative;
  font-size: 24px;
  width: 62%;
  text-align: center;
  margin-left: 20%;
  color: #6f6985;
}
body .content .Master_Every .container .m-head .row .m-pos-text .m-text .p-m p {
  position: relative;
}
body .content .Master_Every .container .m-content {
  position: relative;
}
body .content .Master_Every .container .m-content .row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}
body .content .Master_Every .container .m-content .row .cardd{
  position: relative;
}
body .content .photo-all {
  position: relative;
}
body .content .photo-all .container-fluid {
  position: relative;
}
body .content .photo-all .container-fluid .row {
  position: relative;
  display: block;
}
body .content .photo-all .container-fluid .row .all {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  grid-column-gap: 1px;
}
body .content .photo-all .container-fluid .row .all .all-1 {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .photo-all .container-fluid .row .all .all-1 img {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
}
body .content .photo-all .container-fluid .row .all .all-2 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 235px;
}
body .content .photo-all .container-fluid .row .all .all-2 img {
  position: relative;
  transform: translate( 0%, -14%);
}
body .content .photo-all .container-fluid .row .all .all-3 {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 4;
  height: 235px;
}
body .content .photo-all .container-fluid .row .all .all-3 img {
  position: relative;
  transform: translate( 0%, -14%);
}
body .content .photo-all .container-fluid .row .all .all-4 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
}
body .content .photo-all .container-fluid .row .all .all-4 img {
  position: relative;
}
body .content .photo-all .container-fluid .row .all .all-5 {
  position: relative;
}
body .content .photo-all .container-fluid .row .all .all-5 img {
  position: relative;
}
body .content .photo-all .container-fluid .row .all .all-6 {
  position: relative;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .photo-all .container-fluid .row .all .all-6 img {
  position: relative;
}
body .content .contact {
  position: relative;
}
body .content .contact .container {
  height: 50px;
  position: relative;
}
body .content .contact .container .row {
  text-align: center; border-radius: 5px; display: flex;background: white;transform: translate( 38%, -79%);justify-content: center;width: 40em;padding: 34px 0px;
}
body .content .contact .container .row .contact-pos {
  position: relative;
}
body .content .contact .container .row .contact-pos .contact-desc {
  position: relative;
}
body .content  .contact .container .row .contact-pos .contact-desc .h2-c {
  position: relative;
}
body .content  .contact .container .row .contact-pos .contact-desc .h2-c h2 {
  position: relative;
  padding: 20px
}
body .content  .contact .container .row .contact-pos .contact-desc .p-c {
  position: relative;
}
body .content  .contact .container .row .contact-pos .contact-desc .p-c p {
  position: relative;
  margin-bottom: 28px;
}
body .content  .company {
  display: flex;
  margin-top: 120px;
  position: relative;
}
body .content .company .containert {
  display: flex;
  justify-content: center;
  position: relative;
}
body .content  .company .containert .company-pos {
  position: relative;
}
body .content  .company .containert .company-pos .row {
  position: relative;
}
body .content  .company .containert .company-pos .row .pos .desc h3{
  position: relative;
  margin-left: 19em;font-size: 20px;margin-bottom: 100px;
}
body .content  .company .containert .company-pos .row .img img{
  position: relative;
}
body .content .company .container .company-pos .row .-row{
  position: relative;
}
body .content .company .container .company-pos .row .-row .pad-pos{
}
body .content .company .container .company-pos .row .-row .pad-pos img{
 width: 110px;
 height: 35px;
 margin: 24px 41px;
}
body .footer {
  position: relative;
  background: #261f44;
  color: #6f6985;
  padding-bottom: 40px;
  margin-top: 120px;
}
body .footer a{
  position: relative;
  color: #6f6985;
}
body .footer a:hover{
  position: relative;
  color: #d5d4d9;
}
body .footer .container {
  position: relative;
  padding: 120px 0 0 0;
}
body .footer .container .row {
  position: relative;
  padding-bottom: 20px;
}
body .footer .container .row .pos{
  position: relative;
  width: 190px;
  HEIGHT: 225px;
}
body .footer .container .row .pos .desc h4{
  position: relative;
  color: #fff;
}
body .footer .container .row .poss .desc h4{
  position: relative;
  color: #fff;
}
body .footer .container .row .poss {
  position: relative;
  height: 225px;
  width: 400px;
}
body .footer .container .row .poss .desc .text p{
  position: relative;
  color: #6f6985;
}
body .footer .container .inc .pos .desc ul{
  position: relative;
  display: flex;
  list-style-type: none;
  padding: 5px;
  flex-direction: row;
}
body .footer .container .row li{
  list-style-type: none;
  padding: 5px;
  position: relative;
}

