body {
    position: relative;

    .header {
        position: relative;
        position: fixed;
        z-index: 1030;
        left: 0;
        right: 0;
        a{
            font-size: 16px;
            font-weight: 700;
        }
        .container-fluid {
            background: #261f44;
            color: #fff;
            .navbar {
                padding: 16px;
                .container {
                    position: relative;

                    a {
                        color: #fff;
                        padding: 8px 14px;

                        .navbar-brand {
                            margin-right: 20em;
                        }
                    }

                    button {
                        position: relative;

                        span {
                            position: relative;
                        }
                    }

                    .d {
                        position: relative;

                        .collapse {
                            position: relative;
                            position: relative;

                            ul {
                                position: relative;
                            }

                            li {
                                position: relative;
                            }

                            .button {
                                margin-left: 10px;
                                border-radius: 5px;
                                background-color: #ff5938;
                                border-color: #ff5938;
                                color: #fff;

                                a {
                                    background-color: #ff5938;
                                    width: 92px;
                                    height: 40px;
                                    border-radius: 5px;
                                    text-align: center;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        position: relative;

        .background-first {
            text-align: center;
            display: flex;
            background: url(../images/s1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 200px;
            justify-content: center;
            padding-bottom: 150px;

            .container {
                position: relative;

                .row {
                    position: relative;
                    display: block;

                    .head-text {
                        display: flex;
                        position: relative;
                        color: #fff;
                        flex-direction: column;
                        align-items: center;

                        h1 {
                            position: relative;
                            font-size: 64px;
                            width: 60%;
                            text-align: center;
                            color: #fff;
                        }

                        .head- {
                            position: relative;
                            text-align: center;
                            width: 44%;

                            p {
                                position: relative;
                                font-size: 20px;
                            }
                        }

                        .link {
                            margin-top: 20px;
                            a {
                                background-color: #ff5938;
                                border-color: #ff5938;
                            }
                        }
                    }
                }
            }
        }

        .befor-coach {
            padding-top: 120px;
            color: #6f6985;

            .container {
                position: relative;

                .heading {
                    position: relative;

                    .row {
                        position: relative;
                        display: block;

                        .text {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-content: stretch;
                            justify-content: flex-start;
                            align-items: center;

                            h2 {
                                position: relative;
                                font-size: 42px;
                                text-align: center;
                                color: #261f44;
                            }

                            .p {
                                position: relative;
                                display: flex;
                                justify-content: center;

                                p {
                                    width: 54%;
                                    text-align: center;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }

                .photo-text {
                    position: relative;

                    .row {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        .img-1 {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 1;
                            grid-row-end: 3;

                            img {
                                position: relative;
                            }
                        }

                        .img-2 {
                            grid-column-start: 2;
                            grid-column-end: 4;
                            grid-row-start: 1;
                            grid-row-end: 3;

                            img {
                                position: relative;
                            }
                        }

                        .text {
                            position: relative;
                            grid-column-end: 6;
                            grid-column-start: 4;

                            p {
                                position: relative;
                                color: #6f6985;
                            }
                        }

                        .img-3 {
                            position: relative;

                            img {
                                position: relative;
                            }
                        }

                        .img-4 {
                            position: relative;
                        }
                    }
                }
            }

        }

        .formm {
            padding: 40px 0 120px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;

            .container {
                position: relative;

                .row {
                    width: 100%;

                    .text {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h2 {
                            font-size: 42px;
                            position: relative;
                            width: 630px;
                            text-align: center;
                            color: #261f44;
                        }

                        .p {
                            position: relative;

                            p {
                                text-align: center;
                                grid-row-start: 1;
                                grid-row-end: 3;
                            }
                        }
                    }

                    .offset-lg-2 {
                        display: flex;

                        form {
                            position: relative;

                            .button {
                                padding: 10px;
                                border-radius: 5px;
                                background-color: #ff5938;
                                border-color: #ff5938;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .more {
            position: relative;

            .container-fluid {
                background: #ff5938;
                color: #fff;
                padding: 120px 270px;
                padding-bottom: 190;

                .content {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 50% 50%;
                    grid-row-gap: 30px;
                    grid-column-gap: 30px;

                    .heading {
                        position: relative;
                        width: 100%;

                        h2 {
                            position: relative;
                            font-size: 56px;
                            margin-top: 130px;
                            width: 90%;
                            color: #fff;
                        }

                        .p {
                            position: relative;

                            p {
                                font-size: 20px;
                                width: 550px;
                            }
                        }
                    }

                    .pphoto {
                        position: relative;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        border-radius: 5px;
                        a {
                            width: 100%;
                            color: #fff;
                            border-color: #fff;
                            text-align: center;
                            position: relative;

                            img {
                                width: 100%;
                                border-radius: 5px;
                            }
                        }
                        .aa {
                            cursor: pointer;
                            position: absolute;
                            color: #fff;
                            border-color: #fff;
                            border-radius: 0.5rem;
                            font-size: 1.07rem;
                            padding: 0.63rem 1.56rem;
                            border: 1px solid;
                            width: 116px;
                        }
                    }
                    .pphoto:hover .aa{
                            background: #fff;
                            color: #000;
                            border-color: #fff;
                    }
                    .pphoto:hover img{
                        transform: scale(1.1);
                        transition: transform .5s ease-in-out;
                    }
                }
            }
        }

        .master {
            padding: 120px 0px 240px;
            .container {
                position: relative;
                .headd {
                    position: relative;

                    .row {
                        display: flex;
                        flex-direction: column;

                        .m-text {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            h2 {
                                width: 35%;
                                text-align: center;
                                font-size: 42px;
                                color: #261f44;     
                            }

                            .p {
                                width: 47%;
                                text-align: center;
                                color: #6f6985;

                                p {
                                    margin-bottom: 70px;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
                .content {
                    position: relative;

                    .row {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-column-gap: 40px;

                        .card_block {
                            transform: scale(1.08);
                            position: relative;
                            width: 100%;
                            .card- {
                                width: 100%;
                                overflow: hidden;
                                border-radius: 5px;
                                a{
                                    width: 100%;
                                    img{
                                        width: 100%;
                                        border-radius: 5px;
                                    }
                                    img:hover{
                                        transform: scale(1.1);
                                        transition: transform .5s ease;
                                    }
                                }
                            }
                            .ccard {
                                    position: absolute;
                                    transform: translate(-4%, -60%);
                                    width: 91%;
                                    border-radius: 6px;
                                    background-color: white;
                                    padding: 24px;
                                    h3 {
                                        width:145px;
                                        a {
                                            color: #383838;
                                            border-bottom: none;
                                        }
                                    }
                                    h3:hover a{
                                        color: #ff5938;
                                    }

                                    P {
                                        position: relative;
                                    }

                                    a {
                                        border-bottom: 2px solid #ff5938;
                                        color: #ff5938;
                                    }
                                }
                        }
                    }
                }
            }
        }

        .photo-all {
            position: relative;

            .container-fluid {
                position: relative;

                .row {
                    display: block;

                    .all {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        align-items: end;
                        grid-column-gap: 1px;

                        .all-1 {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 1;
                            grid-row-end: 3;

                            img {
                                grid-column-start: 1;
                                grid-column-end: 2;
                            }
                        }

                        .all-2 {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            height: 235px;

                            img {
                                position: relative;
                                transform: translate(0%, -14%);
                            }
                        }

                        .all-3 {
                            grid-column-start: 3;
                            grid-column-end: 4;
                            height: 235px;

                            img {
                                transform: translate(0%, -14%);
                            }
                        }

                        .all-4 {
                            grid-column-start: 2;
                            grid-column-end: 3;

                            img {
                                position: relative;
                            }
                        }

                        .all-5 {
                            img {
                                position: relative;
                            }
                        }

                        .all-6 {
                            grid-column-start: 4;
                            grid-column-end: 5;
                            grid-row-start: 1;
                            grid-row-end: 3;

                            img {
                                position: relative;
                            }
                        }
                    }
                }
            }
        }

        .contact {
            position: relative;

            .container {
                height: 50px;

                .row {
                    text-align: center;
                    border-radius: 5px;
                    display: flex;
                    background: white;
                    transform: translate(38%, -79%);
                    justify-content: center;
                    width: 40em;
                    padding: 34px 0px;

                    .pos {
                        position: relative;

                        .text {
                            position: relative;

                            h2 {
                                padding: 20px
                            }

                            .p {
                                position: relative;

                                p {
                                    margin-bottom: 28px;
                                }
                            }
                        }

                        form {
                            .form {
                                input {
                                    width: 100%;
                                    margin-bottom: 15px;
                                }
                            }

                            .form2 {
                                input {
                                    margin-bottom: 15px;
                                }
                            }

                            .select {
                                select {
                                    width: 100%;
                                    margin-bottom: 15px;
                                }
                            }

                            .d-grid {
                                button {
                                    cursor: pointer;
                                    padding: 10px;
                                    border-radius: 5px;
                                    background-color: #ff5938;
                                    border-color: #ff5938;
                                    color: #fff;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .company {
            display: flex;
            margin-top: 120px;

            .container {
                display: flex;
                justify-content: center;

                .pos {
                    position: relative;

                    .row {
                        position: relative;

                        h3 {
                            margin-left: 19em;
                            font-size: 20px;
                            margin-bottom: 100px;
                        }
                    }

                    .row {
                        position: relative;

                        .-row {
                            position: relative;

                            .-pos {
                                position: relative;

                                img {
                                    width: 110px;
                                    height: 35px;
                                    margin: 24px 38px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        background: #261f44;
        color: #6f6985;
        padding-bottom: 40px;
        margin-top: 120px;

        a {
            color: #6f6985;
        }

        a:hover {
            color: #d5d4d9;
        }

        .container {
            padding: 120px 0 0 0;

            .row {
                padding-bottom: 20px;

                .pos {
                    width: 190px;
                    height: 225px;

                    h4 {
                        color: #fff;
                        margin-left: 5px;
                    }

                    ul {
                        display: flex;
                        list-style-type: none;
                    }

                    li {
                        list-style-type: none;
                        padding: 5px;
                    }
                }

                .poss {
                    height: 225px;
                    width: 400px;

                    h4 {
                        color: #fff;
                        margin-left: 5px;
                    }

                    .text {
                        position: relative;

                        p {
                            color: #6f6985;
                        }

                        form {
                            .form {
                                position: relative;

                                input {
                                    margin-bottom: 15px;
                                }
                            }

                            button {
                                padding: 10px;
                                border-radius: 5px;
                                background-color: #ff5938;
                                border-color: #ff5938;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .inc {
                position: relative;

                ul {
                    display: flex;
                    list-style-type: none;
                    flex-direction: row;
                }

                li {
                    list-style-type: none;
                    padding: 5px;
                }
            }
        }
    }
}