body {
  position: relative;
}
body .header {
  position: relative;
  position: fixed;
  z-index: 1030;
  left: 0;
  right: 0;
}
body .header a {
  font-size: 16px;
  font-weight: 700;
}
body .header .container-fluid {
  background: #261f44;
  color: #fff;
}
body .header .container-fluid .navbar {
  padding: 16px;
}
body .header .container-fluid .navbar .container {
  position: relative;
}
body .header .container-fluid .navbar .container a {
  color: #fff;
  padding: 8px 14px;
}
body .header .container-fluid .navbar .container a .navbar-brand {
  margin-right: 20em;
}
body .header .container-fluid .navbar .container button {
  position: relative;
}
body .header .container-fluid .navbar .container button span {
  position: relative;
}
body .header .container-fluid .navbar .container .d {
  position: relative;
}
body .header .container-fluid .navbar .container .d .collapse {
  position: relative;
  position: relative;
}
body .header .container-fluid .navbar .container .d .collapse ul {
  position: relative;
}
body .header .container-fluid .navbar .container .d .collapse li {
  position: relative;
}
body .header .container-fluid .navbar .container .d .collapse .button {
  margin-left: 10px;
  border-radius: 5px;
  background-color: #ff5938;
  border-color: #ff5938;
  color: #fff;
}
body .header .container-fluid .navbar .container .d .collapse .button a {
  background-color: #ff5938;
  width: 92px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}
body .content {
  position: relative;
}
body .content .background-first {
  text-align: center;
  display: flex;
  background: url(../images/s1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px;
  justify-content: center;
  padding-bottom: 150px;
}
body .content .background-first .container {
  position: relative;
}
body .content .background-first .container .row {
  position: relative;
  display: block;
}
body .content .background-first .container .row .head-text {
  display: flex;
  position: relative;
  color: #fff;
  flex-direction: column;
  align-items: center;
}
body .content .background-first .container .row .head-text h1 {
  position: relative;
  font-size: 64px;
  width: 60%;
  text-align: center;
  color: #fff;
}
body .content .background-first .container .row .head-text .head- {
  position: relative;
  text-align: center;
  width: 44%;
}
body .content .background-first .container .row .head-text .head- p {
  position: relative;
  font-size: 20px;
}
body .content .background-first .container .row .head-text .link {
  margin-top: 20px;
}
body .content .background-first .container .row .head-text .link a {
  background-color: #ff5938;
  border-color: #ff5938;
}
body .content .befor-coach {
  padding-top: 120px;
  color: #6f6985;
}
body .content .befor-coach .container {
  position: relative;
}
body .content .befor-coach .container .heading {
  position: relative;
}
body .content .befor-coach .container .heading .row {
  position: relative;
  display: block;
}
body .content .befor-coach .container .heading .row .text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}
body .content .befor-coach .container .heading .row .text h2 {
  position: relative;
  font-size: 42px;
  text-align: center;
  color: #261f44;
}
body .content .befor-coach .container .heading .row .text .p {
  position: relative;
  display: flex;
  justify-content: center;
}
body .content .befor-coach .container .heading .row .text .p p {
  width: 54%;
  text-align: center;
  font-size: 20px;
}
body .content .befor-coach .container .photo-text {
  position: relative;
}
body .content .befor-coach .container .photo-text .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
body .content .befor-coach .container .photo-text .row .img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .befor-coach .container .photo-text .row .img-1 img {
  position: relative;
}
body .content .befor-coach .container .photo-text .row .img-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .befor-coach .container .photo-text .row .img-2 img {
  position: relative;
}
body .content .befor-coach .container .photo-text .row .text {
  position: relative;
  grid-column-end: 6;
  grid-column-start: 4;
}
body .content .befor-coach .container .photo-text .row .text p {
  position: relative;
  color: #6f6985;
}
body .content .befor-coach .container .photo-text .row .img-3 {
  position: relative;
}
body .content .befor-coach .container .photo-text .row .img-3 img {
  position: relative;
}
body .content .befor-coach .container .photo-text .row .img-4 {
  position: relative;
}
body .content .formm {
  padding: 40px 0 120px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
body .content .formm .container {
  position: relative;
}
body .content .formm .container .row {
  width: 100%;
}
body .content .formm .container .row .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .content .formm .container .row .text h2 {
  font-size: 42px;
  position: relative;
  width: 630px;
  text-align: center;
  color: #261f44;
}
body .content .formm .container .row .text .p {
  position: relative;
}
body .content .formm .container .row .text .p p {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .formm .container .row .offset-lg-2 {
  display: flex;
}
body .content .formm .container .row .offset-lg-2 form {
  position: relative;
}
body .content .formm .container .row .offset-lg-2 form .button {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5938;
  border-color: #ff5938;
  color: #fff;
}
body .content .more {
  position: relative;
}
body .content .more .container-fluid {
  background: #ff5938;
  color: #fff;
  padding: 120px 270px;
  padding-bottom: 190;
}
body .content .more .container-fluid .content {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
body .content .more .container-fluid .content .heading {
  position: relative;
  width: 100%;
}
body .content .more .container-fluid .content .heading h2 {
  position: relative;
  font-size: 56px;
  margin-top: 130px;
  width: 90%;
  color: #fff;
}
body .content .more .container-fluid .content .heading .p {
  position: relative;
}
body .content .more .container-fluid .content .heading .p p {
  font-size: 20px;
  width: 550px;
}
body .content .more .container-fluid .content .pphoto {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}
body .content .more .container-fluid .content .pphoto a {
  width: 100%;
  color: #fff;
  border-color: #fff;
  text-align: center;
  position: relative;
}
body .content .more .container-fluid .content .pphoto a img {
  width: 100%;
  border-radius: 5px;
}
body .content .more .container-fluid .content .pphoto .aa {
  cursor: pointer;
  position: absolute;
  color: #fff;
  border-color: #fff;
  border-radius: 0.5rem;
  font-size: 1.07rem;
  padding: 0.63rem 1.56rem;
  border: 1px solid;
  width: 116px;
}
body .content .more .container-fluid .content .pphoto:hover .aa {
  background: #fff;
  color: #000;
  border-color: #fff;
}
body .content .more .container-fluid .content .pphoto:hover img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
body .content .master {
  padding: 120px 0px 240px;
}
body .content .master .container {
  position: relative;
}
body .content .master .container .headd {
  position: relative;
}
body .content .master .container .headd .row {
  display: flex;
  flex-direction: column;
}
body .content .master .container .headd .row .m-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .content .master .container .headd .row .m-text h2 {
  width: 35%;
  text-align: center;
  font-size: 42px;
  color: #261f44;
}
body .content .master .container .headd .row .m-text .p {
  width: 47%;
  text-align: center;
  color: #6f6985;
}
body .content .master .container .headd .row .m-text .p p {
  margin-bottom: 70px;
  font-size: 20px;
}
body .content .master .container .content {
  position: relative;
}
body .content .master .container .content .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}
body .content .master .container .content .row .card_block {
  transform: scale(1.08);
  position: relative;
  width: 100%;
}
body .content .master .container .content .row .card_block .card- {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
body .content .master .container .content .row .card_block .card- a {
  width: 100%;
}
body .content .master .container .content .row .card_block .card- a img {
  width: 100%;
  border-radius: 5px;
}
body .content .master .container .content .row .card_block .card- a img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
body .content .master .container .content .row .card_block .ccard {
  position: absolute;
  transform: translate(-4%, -60%);
  width: 91%;
  border-radius: 6px;
  background-color: white;
  padding: 24px;
}
body .content .master .container .content .row .card_block .ccard h3 {
  width: 145px;
}
body .content .master .container .content .row .card_block .ccard h3 a {
  color: #383838;
  border-bottom: none;
}
body .content .master .container .content .row .card_block .ccard h3:hover a {
  color: #ff5938;
}
body .content .master .container .content .row .card_block .ccard P {
  position: relative;
}
body .content .master .container .content .row .card_block .ccard a {
  border-bottom: 2px solid #ff5938;
  color: #ff5938;
}
body .content .photo-all {
  position: relative;
}
body .content .photo-all .container-fluid {
  position: relative;
}
body .content .photo-all .container-fluid .row {
  display: block;
}
body .content .photo-all .container-fluid .row .all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  grid-column-gap: 1px;
}
body .content .photo-all .container-fluid .row .all .all-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .photo-all .container-fluid .row .all .all-1 img {
  grid-column-start: 1;
  grid-column-end: 2;
}
body .content .photo-all .container-fluid .row .all .all-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 235px;
}
body .content .photo-all .container-fluid .row .all .all-2 img {
  position: relative;
  transform: translate(0%, -14%);
}
body .content .photo-all .container-fluid .row .all .all-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  height: 235px;
}
body .content .photo-all .container-fluid .row .all .all-3 img {
  transform: translate(0%, -14%);
}
body .content .photo-all .container-fluid .row .all .all-4 {
  grid-column-start: 2;
  grid-column-end: 3;
}
body .content .photo-all .container-fluid .row .all .all-4 img {
  position: relative;
}
body .content .photo-all .container-fluid .row .all .all-5 img {
  position: relative;
}
body .content .photo-all .container-fluid .row .all .all-6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .content .photo-all .container-fluid .row .all .all-6 img {
  position: relative;
}
body .content .contact {
  position: relative;
}
body .content .contact .container {
  height: 50px;
}
body .content .contact .container .row {
  text-align: center;
  border-radius: 5px;
  display: flex;
  background: white;
  transform: translate(38%, -79%);
  justify-content: center;
  width: 40em;
  padding: 34px 0px;
}
body .content .contact .container .row .pos {
  position: relative;
}
body .content .contact .container .row .pos .text {
  position: relative;
}
body .content .contact .container .row .pos .text h2 {
  padding: 20px;
}
body .content .contact .container .row .pos .text .p {
  position: relative;
}
body .content .contact .container .row .pos .text .p p {
  margin-bottom: 28px;
}
body .content .contact .container .row .pos form .form input {
  width: 100%;
  margin-bottom: 15px;
}
body .content .contact .container .row .pos form .form2 input {
  margin-bottom: 15px;
}
body .content .contact .container .row .pos form .select select {
  width: 100%;
  margin-bottom: 15px;
}
body .content .contact .container .row .pos form .d-grid button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5938;
  border-color: #ff5938;
  color: #fff;
  width: 100%;
}
body .content .company {
  display: flex;
  margin-top: 120px;
}
body .content .company .container {
  display: flex;
  justify-content: center;
}
body .content .company .container .pos {
  position: relative;
}
body .content .company .container .pos .row {
  position: relative;
}
body .content .company .container .pos .row h3 {
  margin-left: 19em;
  font-size: 20px;
  margin-bottom: 100px;
}
body .content .company .container .pos .row {
  position: relative;
}
body .content .company .container .pos .row .-row {
  position: relative;
}
body .content .company .container .pos .row .-row .-pos {
  position: relative;
}
body .content .company .container .pos .row .-row .-pos img {
  width: 110px;
  height: 35px;
  margin: 24px 38px;
}
body .footer {
  background: #261f44;
  color: #6f6985;
  padding-bottom: 40px;
  margin-top: 120px;
}
body .footer a {
  color: #6f6985;
}
body .footer a:hover {
  color: #d5d4d9;
}
body .footer .container {
  padding: 120px 0 0 0;
}
body .footer .container .row {
  padding-bottom: 20px;
}
body .footer .container .row .pos {
  width: 190px;
  height: 225px;
}
body .footer .container .row .pos h4 {
  color: #fff;
  margin-left: 5px;
}
body .footer .container .row .pos ul {
  display: flex;
  list-style-type: none;
}
body .footer .container .row .pos li {
  list-style-type: none;
  padding: 5px;
}
body .footer .container .row .poss {
  height: 225px;
  width: 400px;
}
body .footer .container .row .poss h4 {
  color: #fff;
  margin-left: 5px;
}
body .footer .container .row .poss .text {
  position: relative;
}
body .footer .container .row .poss .text p {
  color: #6f6985;
}
body .footer .container .row .poss .text form .form {
  position: relative;
}
body .footer .container .row .poss .text form .form input {
  margin-bottom: 15px;
}
body .footer .container .row .poss .text form button {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5938;
  border-color: #ff5938;
  color: #fff;
}
body .footer .container .inc {
  position: relative;
}
body .footer .container .inc ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}
body .footer .container .inc li {
  list-style-type: none;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */